.chart-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top:30px;
    margin-left: 20px;
    padding:0px;
    padding-bottom:20px;
}
.bitcoin-price-heading{
    color: White;
    margin-top: 40px;
}

